rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    // ATENCIÓN: Estas reglas son solo para desarrollo.
    // Permiten que cualquiera pueda leer y escribir en tu base de datos.
    // Deberás asegurarlas antes de pasar a producción.
    match /{document=**} {
      allow read, write: if true;
    }
  }
}
