rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {

    // Users can read/update their own profile, and anyone can create a user profile (for sign-up)
    match /users/{userId} {
      allow read, update: if request.auth.uid == userId;
      allow create: if true;
    }

    // Allow any authenticated user to read/write to sessions, announcements, and chats.
    // This can be locked down further in the future if needed.
    match /sessions/{sessionId} {
      allow read, write: if request.auth != null;
    }

    match /announcements/{announcementId} {
      allow read, write: if request.auth != null;
    }

    match /directChats/{chatId} {
        allow read, write: if request.auth != null;
    }
  }
}
