@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Poppins', sans-serif;
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 224 71% 4%;
    --card: 240 5% 96%;
    --card-foreground: 224 71% 4%;
    --popover: 0 0% 100%;
    --popover-foreground: 224 71% 4%;
    --primary: 202 98% 49%;
    --primary-foreground: 0 0% 100%;
    --secondary: 240 5% 96%;
    --secondary-foreground: 224 71% 4%;
    --muted: 240 5% 96%;
    --muted-foreground: 240 4% 46%;
    --accent: 25 95% 53%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 84% 60%;
    --destructive-foreground: 0 0% 100%;
    --border: 240 6% 90%;
    --input: 240 6% 90%;
    --ring: 202 98% 49%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 240 50% 11%;
    --foreground: 210 40% 98%;
    --card: 240 40% 15%;
    --card-foreground: 210 40% 98%;
    --popover: 240 50% 11%;
    --popover-foreground: 210 40% 98%;
    --primary: 202 98% 49%;
    --primary-foreground: 210 40% 98%;
    --secondary: 240 30% 20%;
    --secondary-foreground: 210 40% 98%;
    --muted: 240 30% 20%;
    --muted-foreground: 215 20% 65%;
    --accent: 25 95% 53%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 63% 31%;
    --destructive-foreground: 210 40% 98%;
    --border: 240 30% 25%;
    --input: 240 30% 25%;
    --ring: 202 98% 49%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
