@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Poppins', sans-serif;
}

@layer base {
  :root {
    --background: 40 50% 98%;
    --foreground: 25 35% 15%;
    --app-background: 39 51% 95%;
    --card: 40 50% 98%;
    --card-foreground: 25 35% 15%;
    --popover: 0 0% 100%;
    --popover-foreground: 25 35% 15%;
    --primary: 24 10% 20%;
    --primary-foreground: 38 100% 98%;
    --secondary: 38 16% 90%;
    --secondary-foreground: 25 35% 25%;
    --muted: 38 16% 90%;
    --muted-foreground: 25 25% 45%;
    --accent: 100 20% 90%;
    --accent-foreground: 25 35% 15%;
    --destructive: 0 84% 60%;
    --destructive-foreground: 0 0% 100%;
    --border: 38 16% 86%;
    --input: 38 16% 86%;
    --ring: 18 84% 44%;
    --radius: 0.5rem;
    --sidebar-background: 24 10% 20%;
    --sidebar-foreground: 38 100% 95%;
    --sidebar-accent: 24 10% 30%;
    --sidebar-accent-foreground: 38 100% 98%;
    --sidebar-border: 24 10% 30%;
    --sidebar-ring: 18 84% 44%;
  }

  .dark {
    --background: 25 35% 10%;
    --foreground: 38 100% 98%;
    --app-background: 25 35% 8%;
    --card: 25 35% 15%;
    --card-foreground: 38 100% 98%;
    --popover: 25 35% 10%;
    --popover-foreground: 38 100% 98%;
    --primary: 18 78% 60%;
    --primary-foreground: 25 35% 15%;
    --secondary: 25 35% 20%;
    --secondary-foreground: 38 100% 98%;
    --muted: 25 35% 20%;
    --muted-foreground: 38 100% 75%;
    --accent: 25 35% 25%;
    --accent-foreground: 38 100% 98%;
    --destructive: 0 70% 50%;
    --destructive-foreground: 38 100% 98%;
    --border: 25 35% 25%;
    --input: 25 35% 25%;
    --ring: 18 78% 60%;
    --radius: 0.5rem;
    --sidebar-background: 25 35% 10%;
    --sidebar-foreground: 38 100% 98%;
    --sidebar-accent: 25 35% 20%;
    --sidebar-accent-foreground: 38 100% 98%;
    --sidebar-border: 25 35% 25%;
    --sidebar-ring: 18 78% 60%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
